/*Inconsolata and Inconsolata Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
$font-stack:'Inconsolata';
$light-color:	#ffffee;
$dark-color: #6b6b6b;


/*Fonts display settings*/
*{
  margin: 0;
 
}

html {
  scroll-behavior: smooth;
}

body{
    background-color: $light-color;
    font-family: $font-stack;
}

.container{
    width:70%;
    margin: auto;
    
  }

  hr.dot {
    border-top: 2px dotted ;
  }


/*Navigation bar settings*/
nav{
  width:100%;
  height:50px;
  background-color: $dark-color;
  font-family: 'Inconsolata'; 
  font-size: 0.9em;
  position: fixed;
  z-index: 1;
 
}



.logo-desktop{
  font-family: 'Inconsolata', monospace;
  font-size: 2em;

}


/*logo animation*/
.logo-desktop {
  display: flex;
  align-items: center;
  gap: 2px;
  position:absolute;
  padding-left: 10%;
  padding-right: auto;
}

.logo-mobile{
  display: none;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.logo-desktop::after {
  content: "";
  width: 3px;
  height: 30px;
  background: $light-color;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}

/*end of animation*/




.nav-wrapper{
  display: flex;
  color:$light-color;
  line-height: 50px;
  position: relative;
}





label, #check, ul.menu-mobile{
  display:none;
}

ul.menu{
  font-family: 'Inconsolata';
}

.logo-celular{
  display: none;
}

ul.menu-desktop{
  list-style-type:none;
  width: 100%;
  display: flex;
  justify-content:space-around;
  margin-left: 23%;
  margin-right: auto;

}
 /*hover menu*/

ul.menu-desktop li{
  cursor:pointer;
  flex: 0;
  text-align: center;
}

ul.menu-desktop li a{
  color: $light-color;
  text-decoration: none;
  background-color: $dark-color;
}

ul.menu-desktop li:hover{
  background-color: $light-color;
  
  color: $dark-color;
  transition: .8s;
}

 /*mobile menu*/
 label{ 
  position: absolute;
  font-size:30px;
  padding-left:15px;
  color:$light-color;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: right;
  padding-right: 10px;
 }

 ul.menu-mobile{
  width: 100%;
  background-color:$dark-color;
  margin-top:-300px;
  list-style-type:none;
  transition: .5s;
  
 }

 ul.menu-mobile li{
  width:100%;
  height:40px;
  line-height: 40px;
  text-align:left;
  padding-left: 15px;
  border-bottom: 1px solid $light-color;
 }

 ul.menu-mobile li a{
  color:$light-color;
  text-decoration: none;
 }

 #check:checked ~ ul.menu-mobile{
  margin-top: 0;
  transition:.5s;
 }


/*end of mobile menu*/ 

/*banner*/ 
 .banner-desktop{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
  padding-top: 5%;
  margin-bottom: auto;
 }

 .banner-mobile{
  display: none;
 }

 .banner-desktop .image{
  width:30%;
  height: auto;
 }

 .banner-desktop img{
  width:90%;
  height: auto;
  object-fit:cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

 .banner-desktop .banner-text{
  width:60%;
  
 }

 .banner-desktop h1{
  position: relative;
  font-family: 'Inconsolata', sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1.25em;
  
 }


 .banner-desktop h1 .bolder{
  font-family: 'Inconsolata', sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
 }
 

 .banner-desktop h3{
  position: relative;
  font-family: 'Inconsolata', serif;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1.3em;
  padding-left: 5%;
  padding-right: 5%;

 }

 h3 .color{
  color: red;
 }

 /*aboutme-desktop*/


 .aboutme{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
  margin-top: 2%;
 }


 .aboutme .image{
  width:30%;
  
 }

 .aboutme img{
  width:90%;
  object-fit:cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: auto;
 }

 .aboutme .aboutme-text{
  width:60%;
 
 }

 .aboutme h1{
  position: relative;
  font-family: 'Inconsolata', sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1.25em; 
 }

 .aboutme h3{
  position: relative;
  font-family: 'Inconsolata', serif;
  text-transform: uppercase;
  font-size: 1em;
  padding-left: 5%;
  padding-right: 5%;
 }


 .resume{
  display:flex;
  margin-top: 2%;;
  padding-left: 10%;
}



 .resume .title{
  font-family: 'Inconsolata', sans-serif;
  font-size: 0.5em;
  text-transform: uppercase;
  text-decoration: underline red;
  text-underline-offset: 10px;
  width:70%;
  min-width: 30%;
  object-fit:cover;
  display: block;
  margin-left: auto;
  margin-right: auto; 
 
 }

 .resume h2{
  position: relative;
  font-family: 'Inconsolata', sans-serif;
  font-size: 1.2em;
  margin-top: 10px;

 }

 .resume h3{
  position: relative;
  font-family: 'Inconsolata', sans-serif;
  font-size: 0.9em;
  font-style: italic;

 }

 .resume h4{
  position: relative;
  font-family: 'Inconsolata', sans-serif;
  font-size: 0.7em;
  font-style: italic;
 
 }

 .resume p{
  position: relative;
  font-family: 'Inconsolata';
  font-size: 1em; 
  margin-top: 10px;
  padding-right: 20%;

 }

 .resume .containerskills{
  box-sizing: border-box;
 }

 .containerskills {
  width: 50%; /* Full width */
  background-color: #ddd; /* Grey background */
  
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.illustrator {width: 70%; background-color: $dark-color;} 
.photoshop {width: 70%; background-color: $dark-color;} 
.html {width: 40%; background-color: $dark-color;} 
.css {width: 40%; background-color: $dark-color;} 
.jscript {width: 20%; background-color: $dark-color;}
.php {width: 20%; background-color: $dark-color;}

.portfolio .container{
  box-sizing: border-box;
  margin-left: 20%;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
 
}

.column {
  -ms-flex: 100%; /* IE10 */
  flex: 100%;
  max-width: 100%;
  margin-left: 20%;
  margin-right: auto;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 90%;
}

.portfolio h1{
  position: relative;
  font-family: 'Inconsolata', sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1.25em; 
  text-align: center;
 }

 .project img:hover{
  box-shadow: 3px 3px 3px 3px $dark-color;
 }

footer{
  height: 95vh;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding:  0;
  font: 300 1.5em 'Inconsolata';
  color: $dark-color;
  text-transform: uppercase;
  letter-spacing: 6px;
}



form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:$dark-color;
  
  font-family: 'Inconsolata';
  font-weight:500;
  font-size: 1em;
  border-radius: 20px;
  line-height: 22px;
  background-color: transparent;
  border:3px dotted ;
  transition: all 0.3s;
  padding: 20px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid red; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Inconsolata';
  width: 100%;
  background:$dark-color;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:$light-color;
  font-size:1em;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:red; }

/* Begin Right Contact Page */
.direct-contact-container {

  font: 400 20px 'Inconsolata', sans-serif;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: $light-color;
}

.social-media-list li {
  position: relative ; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: $light-color;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px $light-color;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: $light-color; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}


hr {
  border-color: $dark-color;
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .direct-contact-container{
    width:100%
  }


  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  

  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

/*end of banner*/ 
@media screen and (max-width:1200px){
  ul.menu-desktop{
    list-style-type:none;
    width: 100%;
    display: flex;
    justify-content:space-around;
    margin-left: 26%;
    margin-right: auto;
    margin-bottom: auto;
  }

  .banner-desktop .image{
    width:40%;
  }
  
   .banner-desktop img{
    width:90%;
    object-fit:cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
   }
  
   .banner-desktop .banner-text{
    width:60%;
    
   }

   .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }



  }

   @media screen and (max-width:1000px){
    ul.menu-desktop{
      list-style-type:none;
      width: 100%;
      display: flex;
      justify-content:space-around;
      margin-left: 35%;
      font-size: 0.9em;
      margin-right: auto;
    }


    

    .banner-desktop .image{
      width:50%;
      
     }
    
     .banner-desktop img{
      width:90%;
      object-fit:cover;
      display: block;
      margin-left: auto;
      margin-right: auto;
     }
    
     .banner-desktop .banner-text{
      width:50%;
      
     
     }

     
   .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
    
    }


@media screen and (max-width:800px){
  /*mobile menu*/
  .container{
    width:85%;
  }

  nav{
    position:fixed;
    margin-bottom: 5%;
    z-index: 1;
  }

  .logo-desktop{
    display: none;
  }

  .logo-mobile{
      position: absolute;
      font-family: 'Inconsolata', monospace;
      font-size: 2em;
      padding-left: 5%;
      padding-right: auto ;
      position: fixed;
  }

/*logo animation*/
.logo-mobile {
  display: flex;
  align-items: center;
  gap: 2px;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.logo-mobile::after {
  content: "";
  width: 3px;
  height: 30px;
  background: #fff;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}

/*end of animation*/


  ul.menu-desktop{
    display: none;
    visibility: hidden;
  }


  label, ul.menu-mobile{
    display:block;

  }


   /*hover menu*/

ul.menu-mobile li{
  cursor:pointer;
  flex:1;
  text-align: center;
}

ul.menu-mobile li a{
  color:$light-color;
  text-decoration: none;
  background-color: rgb(0, 0, 0, 0.5);
}

ul.menu-mobile li:hover{
  background-color: white;
  color: $dark-color;
  transition: .8s;
}  

  .container{
    width: 100%;
    
  }

  .banner-desktop{
    display: none;
   }

  .banner-mobile{
    display:flex;
    flex-direction: column;
    margin-top: 2%;
  }

   .banner-mobile img{
    width:90%;
    object-fit:cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
   }

   .banner-mobile .banner-space{
    height: 20px;
   }

   .banner-mobile{
    text-align: center;
   }

   .banner-mobile h1{
    position: relative;
    font-family: 'Inconsolata', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1.25em;
    
   }


   .banner-mobile h1 .bolder{
    font-family: 'Inconsolata', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
   }
   
 
   .banner-mobile h3{
    position: relative;
    font-family: 'Inconsolata', serif;
    text-transform: uppercase;
    font-size: 0.8em;
    line-height: 1.3em;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
   }
  
/*about me mobile*/


  .aboutme{
    display:flex;
    flex-direction: column;
    margin-top: 2%;
  }

  .aboutme .image{
    width:100%;
    height: auto;
   }
  

   .aboutme img{
    width:90%;
    object-fit:cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
   }

   .aboutme .aboutme-text{
    width:100%;
    height: auto;
    
   }


   .aboutme h1{
    position: relative;
    font-family: 'Inconsolata', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    padding-left: 2%;
    line-height: 1px;
    text-align: center; 
   }


   .aboutme h3{
    position: relative;
    font-family: 'Inconsolata', serif;
    text-transform: uppercase;
    font-size: 0.8em;
    line-height: 1.3em;
    text-align:justify;
    padding-left: 15px;
    padding-right: 15px;
    
   }

 
   .resume{
    display:flex;
    flex-direction: column; 
    padding-left: 0;
    text-align: center;
  }

 

   .resume  .title{
    display: block;
    position: relative;
    font-family: 'Inconsolata', sans-serif;
    font-size: 0.5em;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline red;
    text-underline-offset: 10px;

    
    
   }

   .resume h2{
    
    font-family: 'Inconsolata', sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
  
   }

   .resume h3{
   
    font-family: 'Inconsolata', sans-serif;
    font-size: 0.7em;
    font-style: italic;
 
    
   }

   .resume h4{
    position: relative;
    font-family: 'Inconsolata', sans-serif;
    font-size: 0.7em;
    font-style: italic;
 
   }

   .resume p{
    position: relative;
    font-family: 'Inconsolata';
    font-size: 0.8em; 
    margin-top: 10px;
    margin-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
   }

   .resume .containerskills{
    box-sizing: border-box;
   }

   .containerskills {
    width: 70%; /* Full width */
    background-color: #ddd; /* Grey background */
    margin-left: 5%;
  }
  
  .skills {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
  }
  
  .html {width: 40%; background-color: $dark-color;} 
  .css {width: 40%; background-color: $dark-color;} 
  .jscript {width: 20%; background-color: $dark-color;}
  .php {width: 20%; background-color: $dark-color;}
  
  .skillscontainer{
    text-align: left;
    padding-left: 1em;
  }

  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .column {
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    max-width: 100%;
    margin-left: 5%;
    margin-right: 5%;

  }
  
}

@media screen and (max-width:450px){
 footer{
  padding: 0 5% 0 5%;
 }
}